  main {
    margin: 30px;
  }
  
  img {
    height: 100px;
  }
  
  /* Task 1 */
 h3 {
   color: blue;
 }
  
  /* Task 2 */
 .li-color {
   color: red;
 }

  /* Task 3 */
  img:first-of-type +img {
    border: blue;
   border-style: solid;
  }
  /* Task 4 */
  ul #doven1 {
    background-color: brown;
  }
  /* Task 5 */
  #this {
    color: red;
  }